body {
    background-color: whitesmoke; /* #121212 Fondo Negro/Gris oscuro */
    color: #f8f9fa; /* Texto Blanco */
}
.card-dark {
    background-color: #1a1a1a;
    border: 1px solid #2d2d2d;
}
/* Estilo personalizado para los inputs enfocados */
.form-control:focus, .form-select:focus {
    background-color: #252525 !important;
    color: #fff !important;
    border-color: #198754 !important;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
}
.form-control, .form-select {
    background-color: #222222 !important;
    border: 1px solid #333333 !important;
    color: #fff !important;
}
.form-control::placeholder {
    color: #6c757d;
}